In [0]:
-- Grant necessary permissions
GRANT CREATE SCHEMA ON CATALOG `workspace` TO `kimalvesg@outlook.com`;
GRANT USE CATALOG ON CATALOG `workspace` TO `kimalvesg@outlook.com`;
GRANT USE SCHEMA ON SCHEMA `default` TO `kimalvesg@outlook.com`;

In [0]:
CREATE DATABASE IF NOT EXISTS projeto_agua_ng;

USE projeto_agua_ng;

CREATE TABLE IF NOT EXISTS valor_bruto_agua (
  Regiao STRING, 
  Ano INT,
  valor_prod DECIMAL (10, 2)
);

INSERT INTO valor_bruto_agua (Regiao, Ano, valor_prod)
VALUES
    ('Brasil', 2020, 48954),
    ('Norte', 2020, 19177),
    ('Nordeste', 2020, 9486),
    ('Sudeste', 2020, 23022),
    ('Sul', 2020, 9868),
    ('Centro-Oeste', 2020, 4601);

CREATE TABLE IF NOT EXISTS idh_estados_nordeste (
  Estado STRING,
  IDH DECIMAL (4,3)
);

INSERT INTO idh_estados_nordeste (Estado, IDH)
VALUES
    ('Ceará', 0.735),
    ('Piauí', 0.713),
    ('Rio Grande do Norte', 0.738),
    ('Paraíba', 0.735),
    ('Pernambuco', 0.727),
    ('Alagoas', 0.683),
    ('Sergipe', 0.702),
    ('Bahia', 0.714),
    ('Maranhão', 0.687);

CREATE TABLE IF NOT EXISTS renda_per_capita_nordeste (
  Estado STRING,
  Rendimento DECIMAL (10,2)
);

INSERT INTO renda_per_capita_nordeste (Estado, Rendimento)
VALUES
    ('Rio Grande do Norte', 1616.00),
    ('Sergipe', 1473.00),
    ('Pernambuco', 1453.00),
    ('Paraíba', 1401.00),
    ('Bahia', 1366.00),
    ('Piauí', 1350.00),
    ('Ceará', 1320.00),
    ('Alagoas', 1110.00),
    ('Maranhão', 1077.00);

CREATE TABLE IF NOT EXISTS panorama_hidrico_sanitario_ne (
  Estado STRING,
  Internacoes_doencas_hidricas DECIMAL (10,3),
  Tipo_internacao STRING, 
  Observacoes STRING
);

INSERT INTO panorama_hidrico_sanitario_ne (Estado, Internacoes_doencas_hidricas, Tipo_internacao, Observacoes)
VALUES
    ('Maranhão', 30044.0, 'casos', 'Altos índices de poluição hídrica em áreas rurais devido ao saneamento precário e lançamento de resíduos em rios locais.'),
    ('Piauí', 29.64, 'taxa_por_10mil', 'Problemas de poluição hídrica em comunidades rurais devido à falta de tratamento de esgoto.'),
    ('Ceará', 17.09, 'taxa_por_10mil', 'Poluição de rios urbanos por despejo de efluentes industriais e domésticos sem tratamento adequado.'),
    ('Rio Grande do Norte', 10.08, 'taxa_por_10mil', 'Problemas de poluição hídrica em áreas urbanas devido ao crescimento desordenado e falta de infraestrutura de saneamento.'),
    ('Paraíba', 14.50, 'taxa_por_10mil', 'Poluição de corpos dagua por resíduos sólidos e esgoto não tratado em áreas urbanas.'),
    ('Pernambuco', 10.15, 'taxa_por_10mil', 'Desafios significativos na gestão de resíduos líquidos, afetando tanto áreas urbanas quanto rurais.'),
    ('Alagoas', 14.75, 'taxa_por_10mil', 'Poluição hídrica em comunidades rurais devido ao descarte inadequado de resíduos e falta de saneamento.'),
    ('Sergipe', 12.31, 'taxa_por_10mil', 'Problemas de poluição de rios e lagos por esgoto doméstico e industrial sem tratamento.'),
    ('Bahia', 15.72, 'taxa_por_10mil', 'Poluição hídrica em áreas urbanas e rurais devido ao lançamento de efluentes sem tratamento adequado.');

CREATE TABLE IF NOT EXISTS saneamento_basico (
    Estado STRING,
    IN055_Atendimento_Agua DECIMAL(5,2),
    IN022_Consumo_Medio DECIMAL(10,2),
    Perdas_Distribuicao DECIMAL(5,2),
    IN051_Perdas_Ligacao DECIMAL(5,2),
    IN056_Atendimento_Esgoto DECIMAL(5,2),
    IN016_Tratamento_Esgoto DECIMAL(5,2),
    Proporcao_Esgoto_Tratado DECIMAL(5,2)
);

INSERT INTO saneamento_basico (
    Estado,
    IN055_Atendimento_Agua,
    IN022_Consumo_Medio,
    Perdas_Distribuicao,
    IN051_Perdas_Ligacao,
    IN056_Atendimento_Esgoto,
    IN016_Tratamento_Esgoto,
    Proporcao_Esgoto_Tratado
)
VALUES
    ('Bahia', 80.55, 121.49, 41.66, 80.37, 48.79, 48.79, NULL), 
    ('Sergipe', 91.62, 109.30, 34.71, 82.47, 38.14, 38.14, NULL),
    ('Alagoas', 77.21, 101.69, 19.61, 68.99, 14.75, 14.75, NULL),
    ('Pernambuco', 86.65, 111.88, 34.20, 30.45, 30.10, 30.10, NULL),
    ('Paraíba', 76.99, 106.67, 40.02, 79.39, 38.66, 38.66, NULL),
    ('Rio Grande do Norte', 79.69, 120.07, 30.15, 81.73, 29.78, 29.78, NULL),
    ('Ceará', 70.30, 128.87, 29.58, 87.04, 36.57, 36.57, NULL),
    ('Piauí', 72.84, 141.18, 19.36, 90.27, 18.84, 18.84, NULL);

CREATE TABLE IF NOT EXISTS abastecimento_agua_regioes (
  Regiao STRING,
  Percentual_total DECIMAL (5,2)
);

INSERT INTO abastecimento_agua_regioes (Regiao, Percentual_total)
VALUES
    ( 'Regiao Norte', 56.45),
    ('Regiao Nordeste', 77.00),
    ('Regiao Sudeste', 91.17),
    ('Regiao Sul', 86.89),
    ('Regiao Centro-Oeste', 85.65);

CREATE TABLE IF NOT EXISTS conexao_esgoto_regioes (
  Regiao STRING,
  Percentual DECIMAL (5,2)
);

INSERT INTO conexao_esgoto_regioes (Regiao, Percentual)
VALUES
    ('Região Norte', 24.41),
    ('Região Nordeste', 43.06),
    ('Região Sudeste', 86.68),
    ('Região Sul', 63.73),
    ('Região Centro-Oeste', 54.27);

num_affected_rows,num_inserted_rows
5,5